/**
 * Kódy pro DiamantoveSvicky.cz
 *
 * @author Ondřej Doněk, <ondrejd@gmail.com>
 * @license https://www.mozilla.org/MPL/2.0/ Mozilla Public License 2.0
 * @link https://bitbucket.org/ondrejd/odwp-diamantovesvickykody for the canonical source repository
 */

.svicky_kody_stats-table {
    width: 100%;
    border-spacing: 0px;
    border-collapse: separate;
}
.svicky_kody_stats-table td {
    padding: 2px 0px 2px 2px;
}
.svicky_kody_stats-table thead td {
    border-bottom: 1px solid #ddd;
}
.svicky_kody_stats-table tbody td:first-child {
    font-family: "DeJavu Sans Mono","Ubuntu Mono",monospace;
}
.svicky_kody_stats-table tbody tr:nth-child(even) td {
    background-color: #f2f2f2;
}
